<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Обновлеине данных</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/user/{id}(id=${user.getId()})}" th:object="${user}">
  <div>
    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br>

    <label for="surname">Фамилия</label>
    <input type="text" th:field="*{surname}" id="surname"/>

    <br>
    <label for="username">Логин</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br>

    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age"/>

    <br>

    <label for="city">Город</label>
    <input type="text" th:field="*{city}" id="city"/>

    <br>
    <label for="password">Пароль</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br>
    <input type="submit" value="Обновить"/>

  </div>

</form>

</body>
</html>