<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Пользователь</title>
</head>
<body>
<table border="1">
    <tbody>

    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Город</th>
        <th>Возраст</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Роль</th>
        <th>Обновить данные</th>
        <th>Удалить пользователя</th>

    </tr>
    <tr th:each="user : ${user}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getSurname()}"></td>
        <td th:text="${user.getUsername()}"></td>
        <td th:text="${user.getCity()}"></td>
        <td th:text="${user.getAge()}"></td>
        <td th:text="${user.getPassword()}"></td>
<!--        <td th:text="${user.getAuthorities()}"></td>-->
        <td>
    <span th:each="role : ${user.roles}">
        <span th:text="${role.name}"></span>
    </span>
        </td>
        <td>
            <form th:method="GET" th:action="@{/admin/user/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="ОБНОВИТЬ"/>
            </form>
        </td>
<!--        <td><a th:href="@{/user/{id}/edit(id=${user.getId()})}">ОБНОВИТЬ</a></td>-->
        <td>
            <form th:method="DELETE" th:action="@{/admin/user/{id}(id=${user.getId()})}">
            <input type="submit" value="УДАЛИТЬ"/>
            </form>
        </td>

    </tr>

    </tbody>
</table>
<br>
<br>
<a th:href="@{/logout}">Выйти из системы</a>



</body>
</html>