<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>
<h1>Регистрация</h1>

<form th:action="@{/registration}" th:method="POST" th:object="${user}">
    <label for="name">Имя:</label>
    <input type="text" th:field="*{name}" id="name" name="name" required/>
    <br>
    <label for="surname">Фамилия:</label>
    <input type="text" th:field="*{surname}" id="surname" name="surname" required/>
    <br>
    <label for="username">Логин пользователя:</label>
    <input type="text" th:field="*{username}" id="username" name="username" required/>
    <br>
    <label for="age">Возраст:</label>
    <input type="text" th:field="*{age}" id="age" name="age" required/>
    <br>
    <label for="city">Город:</label>
    <input type="text" th:field="*{city}" id="city" name="city" required/>
    <br>
    <label for="password">Пароль:</label>
    <input type="password" th:field="*{password}" id="password" name="password" required/>
    <br>
<!--    <label for="roles">Роль:</label>-->
<!--    <select th:field="*{roles}" id="roles" name="roles">-->
<!--&lt;!&ndash;    <select id="role" name="role">&ndash;&gt;-->
<!--        <option value="ROLE_USER">Пользователь</option>-->
<!--        <option value="ROLE_ADMIN">Администратор</option>-->
<!--&lt;!&ndash;    </select><br/>&ndash;&gt;-->


<!--    <label for="roles">Роль:</label>-->
<!--    <select id="roles" th:field="*{roles}" multiple required>-->
<!--        <option value="ROLE_USER">Пользователь</option>-->
<!--        <option value="ROLE_ADMIN">Администратор</option>-->
<!--&lt;!&ndash;        <option th:each="role : ${roles}" th:value="${role.name}" th:text="${role.name}"></option>&ndash;&gt;-->
<!--    </select>-->
    <br>
    <br/>
    <input type="submit" value="Зарегистрироваться"/>

<!--    <button type="submit">Зарегистрироваться</button>-->
</form>
</body>
</html>
